OPENAI_API_KEY=sk-proj-...
MODEL=gpt-4o-mini
GITHUB_TOKEN=github_pat_...

REDIS_PASSWORD=redis-pwd

JOB_STREAM="jobs"
REVIEW_JOB_NAME="pr-review"
GROUP_NAME="workers"
JOB_RECLAIM_TIMEOUT_SECONDS=300
RECOVERY_INTERVAL_SECONDS=60
