OPENAI_API_KEY=sk-proj-...
MODEL=gpt-4o-mini
GITHUB_TOKEN=github_pat_...

BETTER_AUTH_SECRET=my-better-auth-secret
BETTER_AUTH_URL=http://localhost:3000

REDIS_PASSWORD=redis-pwd

POSTGRES_USER=user
POSTGRES_PASSWORD=user-s-password

DRIZZLE_STUDIO_PASSWORD=drizzle-studio-pass

GOOGLE_CLIENT_ID=google-clinet-id
GOOGLE_CLIENT_SECRET=google-client-secret

GITHUB_CLIENT_ID=github-client-id
GITHUB_CLIENT_SECRET=github-client-secret

JOB_STREAM="jobs"
REVIEW_JOB_NAME="pr-review"
